<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andamiro.mapper.BoardMapper">

	<sql id="criteria"> <!-- ========================================================================================================================-->
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString"> <!-- Criteria.keyword...getTotalCount에서도 필요하다. -->
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	
	
	<select id="getListTemp" resultType="com.andamiro.domain.board.BoardVO">
		select /*+INDEX_DESC(andamiroBoard PK_bno) */ * from andamiroBoard
	</select>
	<select id="getListWithPaging" resultType="com.andamiro.domain.board.BoardVO"><!-- ========================================================================================================================-->
		  
			select *
			from 
				(
				select /*+INDEX_DESC(andamiroBoard PK_bno) */
					rownum rn, cno, bno, title, content, writer, regDate, modDate, readCount, recommendCount, replyCount
					from andamiroBoard
					where 
			<if test="#{cno} != null">cno=#{cno} and </if>
					
			
			<include refid="criteria"></include>
		  	<![CDATA[
					rownum <= #{pageNum} * #{amount}
				)
				where rn > (#{pageNum} -1) * #{amount}
		 	 ]]>
	</select>
		
	<select id="getTotalCount" resultType="int"><!-- ========================================================================================================================-->
		select count(*) from andamiroBoard 
		where
			<if test="#{cno} != null">cno=#{cno} and </if>
			<include refid="criteria"></include>
		<![CDATA[bno>0]]>
	</select>
	

	<insert id="insertSelectKey"><!-- ========================================================================================================================-->
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_bno.nextval from dual
		</selectKey>
			insert into andamiroBoard(cno, bno,title,content,writer)
			values(#{cno}, #{bno}, #{title},#{content},#{writer})
	</insert>

	<select id="read" resultType="com.andamiro.domain.board.BoardVO"><!-- ========================================================================================================================-->
		select * from andamiroBoard where bno = #{bno}
	</select>

	<delete id="delete"><!-- ========================================================================================================================================================================================================@@@-->
		delete andamiroBoard where bno=#{bno}
	</delete>

	<update id="modify"><!-- ========================================================================================================================-->
		update andamiroBoard
		set cno = #{cno},
			title = #{title},
			content = #{content},
			writer = #{writer},
			modDate = sysdate
		where bno = #{bno}
	</update>
	
	
	<update id="updateReadCount">
		update andamiroBoard 
			set readCount = (readCount + 1)
			where bno = #{bno} 
	</update>
	<update id="updateRecommendCount">
		update andamiroBoard 
			set recommendCount = (recommendCount + 1)
			where bno = #{bno} 
	</update>
	<update id="updateReplyCount">
		update andamiroBoard 
			set replyCount = replyCount + #{amount}
			where bno = #{bno} 
	</update>
</mapper>