<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andamiro.mapper.DietMapper">

<select id="getList" resultType="com.andamiro.domain.diet.DietVO">
		<![CDATA[
			select * from diet where dietNumber > 0
		]]>
</select>

<insert id="insert">
	insert into diet(dietNumber, diet_kind, diet_menu, diet_picture) 
	values (dietNum_seq.NEXTVAL, #{diet_kind}, #{diet_menu}, #{diet_picture})

</insert>

<select id="read" resultType="com.andamiro.domain.diet.DietVO">
	select * from diet where dietNumber = #{dietNumber}
</select>

<delete id="delete">
	delete from diet where dietNumber = #{dietNumber}
</delete>
<update id="update">
	update diet
	set diet_kind = #{diet_kind},
	diet_menu = #{diet_menu},
	diet_picture = #{diet_picture}
	where dietNumber = #{dietNumber}
</update>


</mapper>