<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andamiro.mapper.ProDietMapper">

<select id="proDiet" resultType="com.andamiro.domain.diet.DietVO">
		<![CDATA[
			select * from diet where diet_kind = '프로틴식단'
		]]>
</select> 

<select id="proName1" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 10 and dietDetailID > 0
		]]>
</select>

<select id="proName2" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 11 and dietDetailID > 0
		]]>
</select>

<select id="proName3" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 12 and dietDetailID > 0
		]]>
</select>

<select id="proDetail" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select * from dietDetail where dietNumber = 10 and dietDetailID > 0
		]]>
</select> 








</mapper>