<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.andamiro.mapper.RecipeMapper">

    <insert id="regist" parameterType="com.andamiro.domain.recipe.RecipeDTO">
    	<selectKey keyProperty="recipeIdKey" order="BEFORE" resultType="int">
			select RECIPEID_SEQ.nextval from dual
		</selectKey>
     	
     	INSERT ALL
     	
        INTO ANDAMIRORECIPE 
        (
	        recipeId, 
	        memberNumber, 
	        recipeName, 
	        recipetag1, 
	        recipetag2, 
	        recipetag3, 
	        USERID, 
	        recipedetailid
        )
        VALUES 
        (
        	#{recipeIdKey}, 
	        #{recipeVO.memberNumber}, 
	        #{recipeVO.recipeName}, 
	        #{recipeVO.recipetag1}, 
	        #{recipeVO.recipetag2}, 
	        #{recipeVO.recipetag3}, 
	        #{recipeVO.userId}, 
	        #{recipeIdKey}
        )

       INTO RECIPEPICTURE 
		(
		    RECIPEPICID, 
		    RECIPEID, 
		    pic1, 
		    pic2, 
		    pic3, 
		    pic4, 
		    pic5,
		    mainPicture,
		    uploadPath
		)
        VALUES 
        (
	        #{recipeIdKey}, 
	        #{recipeIdKey}, 
	        #{recipePicVO.pic1}, 
	        #{recipePicVO.pic2}, 
	        #{recipePicVO.pic3}, 
	        #{recipePicVO.pic4}, 
	        #{recipePicVO.pic5},
	        #{recipePicVO.mainPicture}, 
	        #{recipePicVO.uploadPath}
        )

        
        INTO RECIPEORDER 
        (
	        RECIPEORDERID, 
	        RECIPEID, 
	        ORDER1, 
	        ORDER2, 
	        ORDER3, 
	        ORDER4, 
	        ORDER5
        )
        VALUES 
        (
        	#{recipeIdKey},
        	#{recipeIdKey}, 
        	#{recipeOrderVO.order1}, 
        	#{recipeOrderVO.order2}, 
        	#{recipeOrderVO.order3}, 
        	#{recipeOrderVO.order4}, 
        	#{recipeOrderVO.order5}
       	)

       
        INTO RECIPEINGRE 
		(
		    INGREID, 
		    RECIPEID, 
		    ingre1, 
		    ingre2, 
		    ingre3, 
		    ingre4, 
		    ingre5, 
		    ingre6, 
		    ingre7, 
		    ingre8, 
		    ingre9, 
		    ingre10, 
		    ingre11, 
		    ingre12
		)
        VALUES 
        (
        	#{recipeIdKey}, 
        	#{recipeIdKey}, 
	        #{recipeIngreVO.ingre1}, 
	        #{recipeIngreVO.ingre2}, 
	        #{recipeIngreVO.ingre3}, 
	        #{recipeIngreVO.ingre4}, 
	        #{recipeIngreVO.ingre5}, 
	        #{recipeIngreVO.ingre6}, 
	        #{recipeIngreVO.ingre7}, 
	        #{recipeIngreVO.ingre8}, 
	        #{recipeIngreVO.ingre9}, 
	        #{recipeIngreVO.ingre10}, 
	        #{recipeIngreVO.ingre11}, 
	        #{recipeIngreVO.ingre12}
        )

        
        INTO ANDAMIRORECIPE_DETAIL 
        (
	        RECIPEDETAILID, 
	        RECIPEID, 
	        RECIPEHOW, 
	        RECIPEKIND, 
	        RECIPEMAININGRE, 
	        RECIPEFORPERSON, 
	        RECIPEFORTIME, 
	        RECIPEFORLEVEL, 
	        RECIPEDISCRIPTION, 
	        recipePicId, 
	        OrderId, 
	        recipeingreId
        )
        VALUES 
        (
	        #{recipeIdKey}, 
	        #{recipeIdKey}, 
	        #{recipeDetailVO.recipeHow}, 
	        #{recipeDetailVO.recipeKind}, 
	        #{recipeDetailVO.recipeMainIngre}, 
	        #{recipeDetailVO.recipeforperson}, 
	        #{recipeDetailVO.recipefortime}, 
	        #{recipeDetailVO.recipeforlevel}, 
	        #{recipeDetailVO.recipeDiscription}, 
	        #{recipeIdKey}, 
	        #{recipeIdKey}, 
	        #{recipeIdKey}
        )
        SELECT * FROM DUAL
    </insert>
    
    <resultMap type="com.andamiro.domain.recipe.RecipeVO" id="recipeMap">
    	<id property="recipeId" column="recipeId"/>
    	<id property="memberNumber" column="memberNumber"/>
    	<id property="userId" column="userId"/>
    	<id property="recipeName" column="recipeName"/>
    	<id property="recipetag1" column="recipetag1"/>
    	<id property="recipetag2" column="recipetag2"/>
    	<id property="recipetag3" column="recipetag3"/>
    	<id property="recipeGrade" column="recipeGrade"/>
    	<id property="recipeView" column="recipeView"/>
    	<id property="recipeCompetition" column="recipeCompetition"/>
    	<id property="recipeDetailId" column="recipeDetailId"/>
    	<id property="recipeRegDate" column="recipeRegDate"/>
    	<id property="reviewCount" column="reviewCount"/>
    	<id property="eventno" column="eventno"/>
    </resultMap>
    
    <resultMap type="com.andamiro.domain.recipe.RecipeDetailVO" id="detailMap">
    	<id property="recipeDetailID" column="recipeDetailID"/>
    	<id property="recipeId" column="recipeID"/>
    	<id property="recipeHow" column="recipeHow"/>
    	<id property="recipeKind" column="recipeKind"/>
    	<id property="recipePicId" column="recipePicId"/>
    	<id property="orderId" column="orderId"/>
    	<id property="recipeIngreId" column="recipeIngreId"/>
    	<id property="recipeMainIngre" column="recipeMainIngre"/>
    	<id property="recipeDiscription" column="recipeDiscription"/>
    	<id property="recipeforperson" column="recipeforperson"/>
    	<id property="recipefortime" column="recipefortime"/>
    	<id property="recipeforlevel" column="recipeforlevel"/>
    </resultMap>
    
    <resultMap type="com.andamiro.domain.recipe.RecipePicVO" id="picMap">
    	<id property="recipePicid" column="recipePicid"/>
    	<id property="recipeId" column="recipeID"/>
    	<id property="mainPicture" column="mainPicture"/>
    	<id property="pic1" column="pic1"/>
    	<id property="pic2" column="pic2"/>
    	<id property="pic3" column="pic3"/>
    	<id property="pic4" column="pic4"/>
    	<id property="pic5" column="pic5"/>
    	<id property="uploadPath" column="uploadPath"/>
    </resultMap>
    
    <resultMap type="com.andamiro.domain.recipe.RecipeOrderVO" id="orderMap">
    	<id property="recipeOrderId" column="recipeOrderId"/>
    	<id property="recipeId" column="recipeID"/>
    	<id property="order1" column="order1"/>
    	<id property="order2" column="order2"/>
    	<id property="order3" column="order3"/>
    	<id property="order4" column="order4"/>
    	<id property="order5" column="order5"/>
    </resultMap>
    
    <resultMap type="com.andamiro.domain.recipe.RecipeIngreVO" id="ingreMap">
    	<id property="ingreid" column="ingreid"/>
    	<id property="recipeId" column="recipeID"/>
    	<id property="ingre1" column="ingre1"/>
    	<id property="ingre2" column="ingre2"/>
    	<id property="ingre3" column="ingre3"/>
    	<id property="ingre4" column="ingre4"/>
    	<id property="ingre5" column="ingre5"/>
    	<id property="ingre6" column="ingre6"/>
    	<id property="ingre7" column="ingre7"/>
    	<id property="ingre8" column="ingre8"/>
    	<id property="ingre9" column="ingre9"/>
    	<id property="ingre10" column="ingre10"/>
    	<id property="ingre11" column="ingre11"/>
    	<id property="ingre12" column="ingre12"/>
    </resultMap>
     
    
    <resultMap type="com.andamiro.domain.recipe.RecipeDTO" id="recipeMapDTO">
    	<collection property="recipeVO" resultMap="recipeMap"/>
    	<collection property="recipeDetailVO" resultMap="detailMap"/>
    	<collection property="recipeIngreVO" resultMap="ingreMap"/>
    	<collection property="recipeOrderVO" resultMap="orderMap"/>
    	<collection property="recipePicVO" resultMap="picMap"/>
    </resultMap>
    
    <select id="getReipceList" resultMap="recipeMapDTO">
    	SELECT r_main.*, r_detail.*, r_pic.*, r_order.*, r_ingre.* 
		FROM andamirorecipe r_main
		JOIN andamirorecipe_detail r_detail ON r_main.recipeid = r_detail.recipeid
		JOIN recipepicture r_pic ON r_main.recipeid = r_pic.recipeid
		JOIN recipeorder r_order ON r_main.recipeid = r_order.recipeid
		JOIN recipeingre r_ingre ON r_main.recipeid = r_ingre.recipeid
    </select>
    
    <select id="selectOneRecipeByRecipeId" resultMap="recipeMapDTO" >
    	SELECT r_main.*, r_detail.*, r_pic.*, r_order.*, r_ingre.* 
		FROM andamirorecipe r_main
		JOIN andamirorecipe_detail r_detail ON r_main.recipeid = r_detail.recipeid
		JOIN recipepicture r_pic ON r_main.recipeid = r_pic.recipeid
		JOIN recipeorder r_order ON r_main.recipeid = r_order.recipeid
		JOIN recipeingre r_ingre ON r_main.recipeid = r_ingre.recipeid
        where r_main.recipeid = #{recipeId}
    </select>

</mapper>