<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andamiro.mapper.SimDietMapper">

<select id="simDiet" resultType="com.andamiro.domain.diet.DietVO">
		<![CDATA[
			select * from diet where diet_kind = '간단식단'
		]]>
</select> 

<select id="simName1" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 4 and dietDetailID > 0
		]]>
</select>

<select id="simName2" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 5 and dietDetailID > 0
		]]>
</select>

<select id="simName3" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select foodName from dietDetail where dietNumber = 6 and dietDetailID > 0
		]]>
</select>

<select id="simDetail" resultType="com.andamiro.domain.diet.dietDetailVO">
		<![CDATA[
			select * from dietDetail where dietNumber = 4 and dietDetailID > 0
		]]>
</select> 








</mapper>